
@model ItAcademyTest.Models.TestModel


<div>
    <h3>Данные введены неверно или не полностью! Попробуйте задать другие входные параметры. </h3>
    <a href="/Home/Index"><button type="button" class="btn btn-warning">Попробовать снова =)</button></a>
</div>